beautifulsoup4==4.14.3
certifi==2026.1.4
charset-normalizer==3.4.4
filelock==3.16.1
gdown==5.2.1
idna==3.11
numpy==1.24.4
pandas==2.0.3
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.4
six==1.17.0
soupsieve==2.7
tqdm==4.67.1
typing_extensions==4.13.2
tzdata==2025.3
urllib3==2.2.3
